


.btn-card{
    height: 40px;
    width: 120px;
    margin-top: 10px;
}

.card{
    box-shadow: 2px 2px 5px 1px #888888;
    height: 245px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.ptext{
    font-size: 23px;

    font-weight: bold;
}