.btn-card{
    height: 40px;
    width: 120px;
    margin-top: 10px;
}

.card{
    box-shadow: 2px 2px 5px 1px #888888;
    height: auto;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.ptext{
    font-size: 23px;

    font-weight: bold;
}
.buyerimg{
    height:100px;
    width:100px;
    border-radius: 50%;
    text-align: center;
}
.dlticon{
    color:rgb(185, 6, 6);
    cursor: pointer;
}
