.navbar{
    background-color:blueviolet;
    border-radius: 0%;
     height: 60px;
 }
 
 .btn-heading{
     box-sizing: border-box;
     padding: 0 16px;
     align-items: center;
     margin-top: 12px;
     text-align: end;
 }
 .nav-btn{
     background-color: white;
     border-radius: 8px;
     border: 0px;
     height: 40px;
     width:100px;
     margin-left: 10px;
     font-weight: bold;    
     margin-top: -3px;
 }
 .navbar-brand{
     color:white;
     font-weight: bold;
 }