.navbar{
    background-color:blueviolet;
    border-radius: 0%;
     height: 60px;
 }
 
 .btn-heading{
     box-sizing: border-box;
     padding: 0 16px;
     align-items: center;
     margin-top: 12px;
     text-align: center;
 }
 .nav-btn{
     background-color: white;
     border-radius: 8px;
     border: 0px;
     height: 40px;
     width:130px;
     margin-left: 10px;
     font-weight: bold;    
     margin-top: -3px;
 }
 .navbar-brand{
     color:white;
     font-weight: bold;
 }

.body-section{
    text-align: center;
    margin-top: 90px;
}


.row{
    margin-right: 0px;
}

.body-btn
{
    background-color: blueviolet;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width:270px;
    border: 0px;
    border-radius: 6px;
    padding:10px;
}

.proheading{
    color:rgb(42, 166, 249);
    font-weight: bold;
}

.btn-card{
    height: 40px;
    width: 120px;
    margin-top: 10px;
}

.card{
    box-shadow: 2px 2px 5px 1px #888888;
    height: 230px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.ptext{
    font-size: 23px;

    font-weight: bold;
}