
<app-navbar></app-navbar>

    <div class="nanbody-section">
        <div class="row">
            <div class="col">
                <div class="body-section">
                <div class="bodyname"><h3 class="bodytext ">Welcome <b>{{UserName}}</b></h3></div>
                <div class="body-display">
                    <button matTooltip="LANDLORD" routerLink="/Landlord" class="body-btn">LANDLORD</button>
                    <button matTooltip="TENENT" class="body-btn" routerLink="/Tanent">TENENT</button>
                </div>
                </div>
            </div>
        </div>
    </div>

  
